<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>EAO Team</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../deps/teamStyle.css">
    <!-- css files -->
    <link rel="stylesheet" href="../deps/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

<!-- team section
================================================== -->
<section id="team" class="parallax-section">
    <div class="container">
        <div class="row">

            <!-- Section title
            ================================================== -->
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                <div class="section-title">
                    <h1 class="heading" style="color: #1b6d85">MEET OUR EXPERT TEAM</h1>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="team-wrapper text-center">
                   <div >
                    <img src="../img/placeholder_male@2x.png" class="img-circle" alt="team img">
                   </div>
                    <div class="team-des">
                        <h4>Usman Kamili</h4>
                        <h3>Wordpress DEveloper</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1.3s">
                <div class="team-wrapper text-center">
                    <img src="../img/placeholder_male@2x.png" class="img-circle" alt="team img">
                    <div class="team-des">
                        <h4>Nazoo Khan</h4>
                        <h3>Web Designer</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1.6s">
                <div class="team-wrapper text-center">
                    <img src="../img/placeholder_male@2x.png" class="img-circle" alt="team img">
                    <div class="team-des">
                        <h4>Rubeena</h4>
                        <h3>Web Developer</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="divider" style="margin-top: 10%;">



        </div>
        <div class="row">

            <!-- Section title
            ================================================== -->

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="team-wrapper text-center">
                    <div >
                        <img src="../img/placeholder_male@2x.png" class="img-circle" alt="team img">
                    </div>
                    <div class="team-des">
                        <h4>Usman Kamili</h4>
                        <h3>Wordpress DEveloper</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

           <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1.6s">
                <div class="team-wrapper text-center">
                    <img src="../img/placeholder_male@2x.png" class="img-circle" alt="team img">
                    <div class="team-des">
                        <h4>Nazoo Khan</h4>
                        <h3>Web Developer</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1.6s">
                <div class="team-wrapper text-center">
                    <img src="../img/placeholder_male@2x.png" class="img-circle" alt="team img">
                    <div class="team-des">
                        <h4>Rubeena</h4>
                        <h3>Web Developer</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




</body>
</html>