/*
 Project    : EIS Subscription Module
 EAO IT Services Pvt. Ltd. | www.eaoservices.com
 Copyright reserved @2017

 File Description :

 Created on : 1 Aug, 2017 | 10:22:00 PM
 Author     : Bilal Wani
 Email      : bilal.wani@eaoservices

*/
html{
    position: relative;
    /*width: 100%;*/

}

.eis-subscribe,
.eis-form-general{
    margin: 30px auto;
    position: relative;
    background-image: url(../img/bg-02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    padding: 60px 0;
}

.eis-subscribe h1,
.eis-form-general h1{
    padding-bottom: 40px;
    font-size: 2.5em;
    font-weight: 700;
    font-family: monospace;
    color: #dae4bb;
}

.eis-subscribe button,
.eis-form-general button{
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: #8b0000;
    padding: 15px 30px;
    font-weight: 700;
}

.eis-input-group{
    /*width: 50%;*/
    border: 1px #fff solid;
    vertical-align: middle;
    padding: 10px;
}

#radiogender{
    padding: 0px;
}

.eis-input-group .eis-add-on{
    float: left;
    padding: 4px;
    /* border: 1px #00f solid; */
    display: table-cell;
    position: relative;
    text-align: center;
    width: 10%;
    height: auto;
    vertical-align: bottom;
    font-size: 1.3em;
    padding-top: 8px;
    color: #dae4bb;

}

.eis-input-group .form-control{
    border: none;
    border-radius: 0;
    width: 90%;
    border-left: 2px green solid;
    background: rgba(8, 8, 8, 0.52);
    color: #fff;
}

@media (max-width: 600px){
    .eis-input-group{
        width: 80% !important;
    }
    .eis-subscribe,
    eis-form-general{
        width: 100%;
    }

}

@media (min-width: 601px){
    .eis-input-group{
        width: 60%;
    }
    .eis-subscribe,
    .eis-form-general{
        width: 60%;
    }   
}

#server-response{
    width : 100%;
    padding: 15px 30px;
    text-align: center;
    background: red;
    color: white;        
}

#server-response button{
    background: lightblue;
    color: black;
    font-size: 1em;
}
.team-wrapper{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.team-des {
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: all 0.4s linear;
    padding: 40px 22px;
    background-color: transparent;;
}

.team-des:hover {
    background: rgba(45,67,72,0.6);
    bottom: 20px;
    padding: 0 16px;
}

/*
* For desktops and large devices
*/
@media all and (min-width:768px){

    .eis-resume-personal .eis-input-group{        
        width: 90%;
        position: relative;
        display: block;
        float: left;
    }

    .eis-resume-personal{
        width: 90%;
        padding: 60px;
        display: table;  /* Important change */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .eis-resume-personal .eis-label{
        padding-top: 20px;
        text-align: right;
        position: relative;
        color: #fff;
    }

    .eis-resume-personal .eis-row{
        margin-top: 15px;
        margin-bottom: 15px;
        min-height: 60px;  /* For float:left, check impact of min-height property */
    }
    .eis-resume-personal .radio-inline{
        color:lightgrey;
    }
}

/*
* For Mobile and small devices.
*/
@media all and (max-width:768px){

    .eis-resume-personal .eis-input-group {
        width: 100% !important; 
        border: 1px #fff solid;
        vertical-align: middle;
        /* padding: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .eis-resume-personal .eis-label{
        color: #fff;
    }
    .eis-resume-personal .radio-inline{
        color:lightgrey;
    }
}

.eis-admin-container{

}

.eis-admin-container .button-strip{

}

.eis-admin-container .img-circle{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.eis-admin-container  td{
    text-align: center;
    border: 1px solid black;

}
.eis-admin-container  th{
    border: 1px solid black;
    text-align: center;

}
.eis-admin-container button{
    padding: 10px 20px;
    /* border-radius: 8px; */
    margin: 4px 5px;
    background: #34495e;
    color: #fff;
    border: none;
}
.eis-admin-container button:hover{
    background: rgba(21, 200, 214, 0.77);;
}

.eis-admin-container input[type='text']{
    border: none;
}
.eis-team-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    text-align: center;
}

.eis-team-profile{
    width: 33%;
    position: relative;
    display: inline-block;
    float: left;
    /*background-color: darkgray;*/ 
    height: 600px; 
    color: #8a0b0b;

    text-align: center;
    padding: 12px;
    margin: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    box-sizing: border-box;
}
.eis-team-profile img{
    border-radius:50%;
    position: relative;
    display: block;
    text-align:center;
    width : 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width:760px){
    .eis-team-profile{
        width : 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}
.top-bar-sm{
    display: none;
}
@media screen and (max-width:480px){
    .eis-team-profile{
        width : 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .top-bar-sm{
        display: block;
        position: fixed;
        width: 100%;
        top: 40px;
        background: #c1b5cd;
        text-align: center;
    }

    .page-header{
        margin-top: 80px;
    }

    .top-bar-sm li{
        float: left;
        padding: 20px;
        list-style: none;
    }

    .nav-sidebar{
        display: none;
    }

}

/**
* Radio Button Customization
*/
/* The container */
.radio-control {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-control input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-control:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-control input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-control input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-control .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.eis-input-group label{
    font-size: 1em;
    color: #ffffff;
    margin-right: 30px;
    padding-top: 4px;
    font-weight: normal;
}

.radio-group{
    padding: 15px;
}

.radio-group p{
    text-align: left;
    color: #fff;
    font-weight: 700;
}

.dp-size{
    width: 80px;
    height: 80px;
        
}